* {box-sizing: border-box;}

body {
  font-family: 'Roboto Mono',monospace;
  min-height: 400px;
  background-color: #000000;
  background-size: 100%;
  background-repeat: no-repeat;
}

.container {
  text-align: center;
  padding: 20px;
  height: 100vh;
  width: 80vw;
  margin: auto;
}

.page-title {
  color:white;
  margin: 0 0 1vw;
} 

.page-subtitle {
  color:white;
  margin-top: 1vw;
}

.page-logo {
    width: 200px;
}

.main-content {
    width: 50rem;
    max-width: 100%;
    padding: 0 24px;
    border: 5px solid yellow;
    margin: 0 auto;
}

.flex-container {
    display: flex;
    width: 100%;
    flex-flow: wrap;
    align-items: center;
    justify-content: center;
    padding: 1vw;
}

.flex-itens {
    margin: 0 1vw 0 1vw;
}

.form-title {
    color: yellow;
    font-size: 1.6rem;
}

label {
    color: white;
    font-size: 1.2rem;
}

input {
  margin-top: 0.5rem;
  width: 100%;
  border-radius: 0.25rem;
  border: 2px solid rgba(255, 255, 0, 0.315);
}

input:hover {
  outline: none;
  border-color: yellow;
  box-shadow: 0 0 10px rgba(255, 255, 0, 0.541);
}

input:focus {
  outline: none;
  border-color: yellow;
  box-shadow: 0 0 10px yellow;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

button {
    font-family: 'Roboto Mono',monospace;
    font-size: 0.95rem;
    background: #fff;
    border-radius: 0.35rem;
    padding: 5 1.5rem;
    margin-top: 2rem;
}

button:hover {
  border-color: yellow;
  box-shadow: 0 0 10px yellow;
}

h2 {
  color: yellow;
}

.alura-logo {
    width: 40px;
    position: absolute;
    top: 10px;
    right: 10px;
}
